body {
	margin: 0;
	text-align: center;
}
.header {
	background: url(https://cdn.newsapi.com.au/image/v1/ea8f2f2db169d237287671110711fd2d) no-repeat;
	background-size: cover;
	background-attachment: fixed;
	margin: auto;
	color: white;
	font-size: 60px;
	font-weight: bold;
	padding-bottom: 150px;
	padding-top: 150px;
	text-shadow: 0 0 20px black;
}
.main {
	width: 1000px;
	text-align: center;
	margin: auto;
}
.a1 {
	font-size: 50px;
	padding-top: 80px;
	margin: auto;
	padding-bottom: 60px;
}
.t1 {
	display: flex;;
	margin-bottom: 50px;
}
.e1 {
	margin-right: 20px;
	background-color: darkred;
	padding: 20px;
	box-sizing: border-box;
	font-weight: bold;
}
.e2 {
	background-color: aquamarine;
	padding: 20px;
	box-sizing: border-box;
	font-weight: bold;
}
.t2 {
	display: flex;
	margin: auto;
	justify-content: space-between;
	box-sizing: border-box;
}
.e4 {
	text-align: left;
	box-sizing: border-box;
	margin-right: 20px;
}
.img {
	width: 100%;
}
.p1 {
	color: silver;
}
